/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.phpintel
/public/images/article
/public/images/category
/public/images/city
/public/images/country
/public/images/gallery
/public/images/galleryimage
/public/images/item
/public/images/item_advertistment
/public/images/item_image
/public/images/role
/public/images/service
/public/images/slider
!/public/images/slider/default_slider1.jpg
!/public/images/slider/default_slider2.jpg
!/public/images/slider/default_slider3.jpg
/public/images/team
/public/images/township
/public/images/upload
/storage/logs/
